apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: ingress-nginx
  namespace: ingress-nginx
spec:
  interval: 30m
  chart:
    spec:
      chart: ingress-nginx
      version: "4.11.x"
      sourceRef:
        kind: HelmRepository
        name: ingress-nginx
        namespace: flux-system
      interval: 12h
  install:
    createNamespace: true
  values:
    controller:
      service:
        type: LoadBalancer
        loadBalancerIP: 192.168.2.240
      ingressClassResource:
        name: nginx
        default: false
      admissionWebhooks:
        enabled: false
